/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  /* border: 2px solid red; */
  border-radius: 10px;
  padding: 0 10px;
}
.nav-items>ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.search-box{
  display: flex;
  gap: 2px;
}
.body{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  background-color: #d2d2d2;
}
.cards{
  margin-top: 2rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  /* height: 200px; */
  border: 2px solid;
}
.cards>img{
  width: 100px;
  height: 100px;
}
.cards>button{
  /* position: relative; */
  /* bottom: 0; */
  margin-top: auto  ;
  border-radius: 20px;
}
